*{
    margin: 0;
    padding: 0;
}

body{
    font-family: cursive;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}